.events {
    background-image: url('../Images/humans.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h1 {
    font-size: 30px;
    color: #6e6d6d;

}

.blog-preview h2 {
    font-size: 20px;
    color: #6e6d6d;
    margin-bottom: 8px;

}


.blog-preview {
    border-radius: 5px;
        border-width: 2px;
        margin-right: 10px;
        margin-left: 10px;
    /* Add a black border to the blog preview box */
    padding: 10px;
    border-color:#322d2d;
    background-color: #ffffff;
    
    /* Optional: Add some padding for better appearance */
}

.blog-link {
    text-decoration: none;
    /* Remove the default underline on the link */
    color: black;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 5px;
    /* Set the link color to black */
}

.blog-preview a {
    text-decoration: none;
    border: black;
        border-radius: 5px;
        border-width: 2px;
}
.blog-preview h2{
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}


.blog-details h2 {
    font-size: 25px;
    font-weight: bold;
    text-shadow: #ddd;
    color: #3F51B5;
    margin-bottom: 10px;
}
.blog-details p {
    
    color: white;
    
}

.blog-preview p{
    font-style: italic;

}
.blog-details{
    align-items: center;
        align-self: center;
        align-content: center;
}
.blog-details {
    align-self: center;
    align-content: center;
    
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin-left: 350px;
        background-color: #ffffff;
        margin-right: 350px;
        margin-top: 30px;
        background-color:#7fa0ec;
        /* Adjust as needed */
        border: 2px solid black;

}
.blog-details-content{
    margin-top: 10px;
    text-align: center;
    border: black;
    border-width: 2px;
}
.blog-details button {
    background: #3F51B5;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    color: #3F51B5;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.create input,
.create textarea,
.create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid indigo;
    box-sizing: border-box;
    display: block;
}

.create button {
   
    color: #ddd;
    border: 0;
    padding-right: 145px;
    padding-left: 145px;
    border-radius: 8px;
    cursor: pointer;
    justify-self: center;
    align-items: center;
}

.complaint {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.btn-grad {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
    margin: 10px;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 100% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}