.disp1 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    height: 100vh;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home {
    background-image: url('../Images/Study-Group-web.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: 2px 2px 4px #bdb1b1;
}

.edu {
    font-size: 20px;

}

.emp {
    font-size: 50px;
}